.task-board .to-do .mdi-circle-outline::before{
    color: #ffb822 !important;
}
.task-board .in-progress .mdi-circle-outline::before{
    color: #3636ff !important;
}
.task-board .code-review .mdi-circle-outline::before{
    color: #f75959 !important;
}
.task-board .done .mdi-circle-outline::before{
    color: #25df25 !important;
}
.board-card p.date{
    margin: 0;
}
.board-card p.date:last-child{
    margin-bottom: 10px;
}
.user-comment {
    background: ghostwhite;
    padding: 10px;
    margin-bottom: 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.user-comment h6 {
    margin-top: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 700;
    color: dodgerblue;
}
.user-comment p {
    font-family: sans-serif;
    margin: 0;
    font-size: 14px;
}
.user-comment small {
    color: gray;
    font-size: 10px;
    font-family: sans-serif;
}
.add-board-tasks{
    background: #f1f5fa;
    border: #f1f5fa;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    height: 130px;
    color: #303e67;
    font-size: 18px;
    font-family: "Roboto",sans-serif;
    font-weight: 600;
}
.add-board-tasks:hover{
    background: linear-gradient(20deg, #1761fd 0%, rgba(23,97,253,0.5))
}
.add-board-tasks:focus{
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
}
.left-sidenav-menu li>a.nav-link.active{
    color: #fff;
    background: linear-gradient(14deg, #1761fd 0%, rgba(23,97,253,0.6));
    -webkit-box-shadow: 3px 3px 20px 0 rgb(23 97 253 / 40%);
    box-shadow: 3px 3px 20px 0 rgb(23 97 253 / 40%);
    border-radius: 4px;
}
.left-sidenav-menu li>a.nav-link.active i{
    color: #fff;
}
.met-profile .met-profile-main .met-profile-main-pic {
    border-radius: 50%;
    overflow: hidden;
}
.met-profile .met-profile-main .met-profile-main-pic div.col-lg-12 {
    position: absolute;
    top: -45px;
    left: 0;
    height: max-content;
    width: 100%;
    padding: 0;
}
.met-profile .met-profile-main .met-profile-main-pic div.col-lg-12 label {
    display: none;
}
